.radio {
  input {
    display: none;
  }

  input + label {
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;

    &:hover span:first-child {
      background: darken(white, 8%);
    }

    span:first-child {
      width: 18px;
      height: 18px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: white;
      border-radius: 50%;
      border: 1px solid var(--grey);

      .dot {
        border-radius: 50%;
        display: none;
        width: 10px;
        height: 10px;
        background: var(--primary);
      }
    }
  }

  input:checked + label {
    span:first-child {
      border: 1px solid var(--primary);

      .dot {
        display: inline-block;
      }
    }
  }
}
