.input {
  display: flex;
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--grey);
  width: 328px;

  &:focus-within {
    border: 1px solid var(--primary);

    .label {
      color: var(--primary);
    }
  }

  [class*='svgIcon'] {
    cursor: pointer;
  }

  .text {
    border: none;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .label {
    font-size: 16px;
    line-height: 24px;
    color: var(--grey);
    padding: 0px 0px;
    background-color: transparent;
    position: absolute;
    cursor: text;

    transition:
      background .2s ease-in-out,
      font-size .2s ease-in-out,
      line-height .2s ease-in-out,
      padding .2s ease-in-out,
      color .2s ease-in-out,
      top .2s ease-in-out;
  }

  &_focused {
    .label {
      font-size: 12px;
      line-height: 16px;
      top: -10px !important;
      padding: 0px 2px;
      background: #fff;
    }
  }

  &_hidden {
    .text {
      display: none;
    }
  }

  &_variant {
    &_large {
      .text {
        max-height: 24px;
        padding: 16px;
      }

      [class*='svgIcon'] {
        padding: 16px 16px 16px 0px;

        &[class*='_rotate_180'] {
          padding: 16px 0px 16px 16px;
        }
      }

      .label {
        top: 16px;
        left: 16px;
      }
    }

    &_medium {
      .text {
        max-height: 40px;
        padding: 8px 16px;
      }

      [class*='svgIcon'] {
        padding: 8px 16px 8px 0px;

        &[class*='_rotate_180'] {
          padding: 8px 0px 8px 16px;
        }
      }

      .label {
        top: 8px;
        left: 16px;
      }
    }
  }
}