.input {
  display: flex;
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--grey);
  width: 328px;

  &:focus-within {
    border: 1px solid var(--primary);

    .label {
      color: var(--primary);
    }
  }

  [class*="svgIcon"] {
    cursor: pointer;
  }

  .text {
    border: none;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    flex-grow: 1;
    min-width: 100px;

    &:focus {
      outline: none;
    }
  }

  .label {
    font-family: "T-Star Pro";
    font-size: 16px;
    line-height: 24px;
    color: var(--grey);
    padding: 0px 0px;
    background-color: transparent;
    position: absolute;
    cursor: text;

    transition: background 0.2s ease-in-out, font-size 0.2s ease-in-out,
      line-height 0.2s ease-in-out, padding 0.2s ease-in-out,
      color 0.2s ease-in-out, top 0.2s ease-in-out;
  }

  &_focused {
    .label {
      font-size: 12px;
      line-height: 16px;
      top: -10px !important;
      padding: 0px 2px;
      background: #fff;
    }
  }

  &_hidden {
    .text {
      display: none;
    }
  }

  &_variant {
    &_large {
      .text {
        padding: 16px;
      }

      [class*="svgIcon"] {
        margin: 16px 16px 16px 0px;

        &[class*="_rotate_180"] {
          margin: 16px 0px 16px 16px;
        }
      }

      .label {
        top: 16px;
        left: 16px;
      }
    }

    &_medium {
      .text {
        padding: 8px 16px;
      }

      [class*="svgIcon"] {
        margin: 8px 16px 8px 0px;

        &[class*="_rotate_180"] {
          margin: 8px 0px 8px 16px;
        }
      }

      .label {
        top: 8px;
        left: 16px;
      }
    }
  }
}
