:root{
    --ultra-light-primary: #E8F7FA;
    --light-primary: #11B7DB;
    --alfa-primary: #10A8C933;
    --primary: #10A8C9;
    --dark-primary: #0E97B5;

    --warning: #F2994A;
    --error: #D82045;
    --success: #03D087;
    --white: #F9F9FA;
    --light-grey: #D7DBE2;
    --grey: #9CA4B3;
    --dark-grey: #515B6C;
    --black: #10203B;
    --metal: #263650;

    --light_orange: #F2994A;
    --light_green: #6FCF97;
    --light_blue: #2D9CDB;
    --red: #EB5757;
    --blue: #2F80ED;
    --orange: #FF8437;
    --green: #219653;
    --cyan: #56CCF2;
    --disabled: #515B6C;
}