:root{
    --info: #10A8C9;
    --warning: #F2994A;
    --error: #D82045;
    --success: #03D087;
    --white: #F9F9FA;
    --light-grey: #D7DBE2;
    --grey: #9CA4B3;
    --dark-grey: #515B6C;
    --black: #10203B;
    --metal: #263650;

    
}