@import "./colors.scss";
@import "./normalize.scss";

:root {
  --transition-property: all;
  --transition-time: 0.4s;
  --transition-function: ease;

  color-scheme: light only;
}

* {
  box-sizing: border-box;
  transition: var(--transition-property) var(--transition-time)
    var(--transition-function);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "T-Star Pro";
  src: url("../fonts/T-StarPro-RegularItalic.eot");
  src: local("T-Star Pro Regular Italic"), local("T-StarPro-RegularItalic"),
    url("../fonts/T-StarPro-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/T-StarPro-RegularItalic.woff2") format("woff2"),
    url("../fonts/T-StarPro-RegularItalic.woff") format("woff"),
    url("../fonts/T-StarPro-RegularItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "T-Star Pro";
  src: url("../fonts/T-StarPro-Medium.eot");
  src: local("T-Star Pro Medium"), local("T-StarPro-Medium"),
    url("../fonts/T-StarPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/T-StarPro-Medium.woff2") format("woff2"),
    url("../fonts/T-StarPro-Medium.woff") format("woff"),
    url("../fonts/T-StarPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "T-Star Pro";
  src: url("../fonts/T-StarPro-BoldItalic.eot");
  src: local("T-Star Pro Bold Italic"), local("T-StarPro-BoldItalic"),
    url("../fonts/T-StarPro-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/T-StarPro-BoldItalic.woff2") format("woff2"),
    url("../fonts/T-StarPro-BoldItalic.woff") format("woff"),
    url("../fonts/T-StarPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "T-Star Pro";
  src: url("../fonts/T-StarPro-HeavyItalic.eot");
  src: local("T-Star Pro Heavy Italic"), local("T-StarPro-HeavyItalic"),
    url("../fonts/T-StarPro-HeavyItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/T-StarPro-HeavyItalic.woff2") format("woff2"),
    url("../fonts/T-StarPro-HeavyItalic.woff") format("woff"),
    url("../fonts/T-StarPro-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "T-Star Pro";
  src: url("../fonts/T-StarPro-Regular.eot");
  src: local("T-Star Pro Regular"), local("T-StarPro-Regular"),
    url("../fonts/T-StarPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/T-StarPro-Regular.woff2") format("woff2"),
    url("../fonts/T-StarPro-Regular.woff") format("woff"),
    url("../fonts/T-StarPro-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "T-Star Pro";
  src: url("../fonts/T-StarPro-Bold.eot");
  src: local("T-Star Pro Bold"), local("T-StarPro-Bold"),
    url("../fonts/T-StarPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/T-StarPro-Bold.woff2") format("woff2"),
    url("../fonts/T-StarPro-Bold.woff") format("woff"),
    url("../fonts/T-StarPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "T-Star Pro";
  src: url("../fonts/T-StarPro-MediumItalic.eot");
  src: local("T-Star Pro Medium Italic"), local("T-StarPro-MediumItalic"),
    url("../fonts/T-StarPro-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/T-StarPro-MediumItalic.woff2") format("woff2"),
    url("../fonts/T-StarPro-MediumItalic.woff") format("woff"),
    url("../fonts/T-StarPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "T-Star Pro";
  src: url("../fonts/T-StarPro-Heavy.eot");
  src: local("T-Star Pro Heavy"), local("T-StarPro-Heavy"),
    url("../fonts/T-StarPro-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/T-StarPro-Heavy.woff2") format("woff2"),
    url("../fonts/T-StarPro-Heavy.woff") format("woff"),
    url("../fonts/T-StarPro-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "T-Star Pro";
  src: url("../fonts/T-StarPro-LightItalic.eot");
  src: local("T-Star Pro Light Italic"), local("T-StarPro-LightItalic"),
    url("../fonts/T-StarPro-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/T-StarPro-LightItalic.woff2") format("woff2"),
    url("../fonts/T-StarPro-LightItalic.woff") format("woff"),
    url("../fonts/T-StarPro-LightItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "T-Star Pro";
  src: url("../fonts/T-StarPro-Light.eot");
  src: local("T-Star Pro Light"), local("T-StarPro-Light"),
    url("../fonts/T-StarPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/T-StarPro-Light.woff2") format("woff2"),
    url("../fonts/T-StarPro-Light.woff") format("woff"),
    url("../fonts/T-StarPro-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
