.select {
    [class$='-control'] {
        display: none;
    }

    [class$='-menu'] {
        max-width: 330px;

        [class$='-MenuList'] {
            padding: 0px;

            [class$='-option'] {
                width: 322px;
                padding: 8px 16px;
                margin: 4px 4px;
                border-radius: 4px;
            }
        }
    }
}